<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.crm.mapper.SaleChanceMapper">
  <resultMap id="BaseResultMap" type="com.xxxx.crm.vo.SaleChance">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="chance_source" jdbcType="VARCHAR" property="chanceSource" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="cgjl" jdbcType="INTEGER" property="cgjl" />
    <result column="overview" jdbcType="VARCHAR" property="overview" />
    <result column="link_man" jdbcType="VARCHAR" property="linkMan" />
    <result column="link_phone" jdbcType="VARCHAR" property="linkPhone" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_man" jdbcType="VARCHAR" property="createMan" />
    <result column="assign_man" jdbcType="VARCHAR" property="assignMan" />
    <result column="assign_time" jdbcType="TIMESTAMP" property="assignTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="dev_result" jdbcType="INTEGER" property="devResult" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, chance_source, customer_name, cgjl, overview, link_man, link_phone, description, 
    create_man, assign_man, assign_time, state, dev_result, is_valid, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sale_chance
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sale_chance
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xxxx.crm.vo.SaleChance">
    insert into t_sale_chance (id, chance_source, customer_name, 
      cgjl, overview, link_man, 
      link_phone, description, create_man, 
      assign_man, assign_time, state, 
      dev_result, is_valid, create_date, 
      update_date)
    values (#{id,jdbcType=INTEGER}, #{chanceSource,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, 
      #{cgjl,jdbcType=INTEGER}, #{overview,jdbcType=VARCHAR}, #{linkMan,jdbcType=VARCHAR}, 
      #{linkPhone,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createMan,jdbcType=VARCHAR}, 
      #{assignMan,jdbcType=VARCHAR}, #{assignTime,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, 
      #{devResult,jdbcType=INTEGER}, #{isValid,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xxxx.crm.vo.SaleChance">
    insert into t_sale_chance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="chanceSource != null">
        chance_source,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="cgjl != null">
        cgjl,
      </if>
      <if test="overview != null">
        overview,
      </if>
      <if test="linkMan != null">
        link_man,
      </if>
      <if test="linkPhone != null">
        link_phone,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createMan != null">
        create_man,
      </if>
      <if test="assignMan != null">
        assign_man,
      </if>
      <if test="assignTime != null">
        assign_time,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="devResult != null">
        dev_result,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="chanceSource != null">
        #{chanceSource,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="cgjl != null">
        #{cgjl,jdbcType=INTEGER},
      </if>
      <if test="overview != null">
        #{overview,jdbcType=VARCHAR},
      </if>
      <if test="linkMan != null">
        #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null">
        #{linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createMan != null">
        #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="assignMan != null">
        #{assignMan,jdbcType=VARCHAR},
      </if>
      <if test="assignTime != null">
        #{assignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="devResult != null">
        #{devResult,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xxxx.crm.vo.SaleChance">
    update t_sale_chance
    <set>
      <if test="chanceSource != null">
        chance_source = #{chanceSource,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="cgjl != null">
        cgjl = #{cgjl,jdbcType=INTEGER},
      </if>
      <if test="overview != null">
        overview = #{overview,jdbcType=VARCHAR},
      </if>
      <if test="linkMan != null">
        link_man = #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null">
        link_phone = #{linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createMan != null">
        create_man = #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="assignMan != null">
        assign_man = #{assignMan,jdbcType=VARCHAR},
      </if>
      <if test="assignTime != null">
        assign_time = #{assignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="devResult != null">
        dev_result = #{devResult,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xxxx.crm.vo.SaleChance">
    update t_sale_chance
    set chance_source = #{chanceSource,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      cgjl = #{cgjl,jdbcType=INTEGER},
      overview = #{overview,jdbcType=VARCHAR},
      link_man = #{linkMan,jdbcType=VARCHAR},
      link_phone = #{linkPhone,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_man = #{createMan,jdbcType=VARCHAR},
      assign_man = #{assignMan,jdbcType=VARCHAR},
      assign_time = #{assignTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      dev_result = #{devResult,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--条件查询-->
  <select id="selectByParams" parameterType="SaleChanceQuery" resultType="SaleChance">
      select
      s.*,u.user_name as uname
      from
      t_sale_chance as s
      LEFT JOIN
      t_user as u
      on
      u.id=s.assign_man
    <where>
        s.is_valid=1
      <if test="customerName!=null and customerName!=''">
        and s.customer_name like "%${customerName}%"
      </if>
      <if test="createMan!=null and createMan!=''">
        and s.create_man=#{createMan}
      </if>
      <if test="state!=null and state!=''">
        and s.state=#{state}
      </if>
      <!-- 查询分配给当前用户对应机会数据 -->
      <if test="assignMan != null">
        and s.assign_man = #{assignMan}
      </if>
      <!-- 根据数据开发状态查询数据 -->
      <if test="devResult != null">
        and s.dev_result = #{devResult}
      </if>
    </where>
  </select>

  <!--批量删除
  update t_user set is-valid=0 where id in(1,3,4);
  -->
  <update id="deleteBatch">
    update t_sale_chance
    set
        is_valid=0
    <where>
         id
        <if test="array !=null and array.length>0">
            <foreach collection="array" open="in (" close=")" separator="," item="id">
              #{id}
            </foreach>
        </if>
    </where>
  </update>

</mapper>